.sidebar-container {
  position: relative;
  z-index: 5;
}

@media (min-width: 300px) {
  .sidebar {
    width: 100px;
    height: 100vh;
    -webkit-backdrop-filter: blur(6px);
            backdrop-filter: blur(6px);
    display: flex;
    transition: 0.8s;
    flex-direction: column;
    justify-content: space-between;
    background: rgba(10, 10, 10, 0.65);
    box-shadow: 0px 8px 32px rgb(2, 4, 24);
    border-right: 2px solid rgba(255, 255, 255, 0.09);
  }
  .openSidebar {
    width: 200px;
  }
  .sidebar nav li {
    height: 15%;
    width: 100%;
    padding-left: 35px;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}
@media (min-width: 300px) and (max-width: 767px) {
  .sidebar nav li {
    font-size: calc(8px + 8 *((100vw - 320px) / 1920));
  }
}
@media (min-width: 300px) and (min-width: 767px) {
  .sidebar nav li {
    font-size: calc(8px + 13.6 *(100vw / 1920));
  }
}
@media (min-width: 300px) {
  .sidebar .logo img {
    padding: 5px;
    width: 140px;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
@media (min-width: 300px) {
  .container-for-clock {
    width: 70px;
    height: 70px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;
  }
}
@media (min-width: 300px) {
  .container-for-clock-open {
    transition: 1s;
    width: 140px;
    height: 140px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (min-width: 300px) {
  .openTitle {
    margin-top: 25px;
    color: snow;
    pointer-events: none;
    text-align: center;
    transition: 0.5s;
    transition-delay: 0.6s;
    opacity: 1;
  }
}
@media (min-width: 300px) and (max-width: 767px) {
  .openTitle {
    font-size: calc(9px + 9 *((100vw - 320px) / 1920));
  }
}
@media (min-width: 300px) and (min-width: 767px) {
  .openTitle {
    font-size: calc(9px + 15.3 *(100vw / 1920));
  }
}
@media (min-width: 300px) {
  .sidebar nav li {
    height: 15%;
    width: 100%;
    padding-left: 38px;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}
@media (min-width: 300px) and (max-width: 767px) {
  .sidebar nav li {
    font-size: calc(6px + 4 *((100vw - 320px) / 1920));
  }
}
@media (min-width: 300px) and (min-width: 767px) {
  .sidebar nav li {
    font-size: calc(6px + 6.8 *(100vw / 1920));
  }
}
@media (min-width: 1050px) {
  .sidebar {
    width: 100px;
    height: 100vh;
    -webkit-backdrop-filter: blur(6px);
            backdrop-filter: blur(6px);
    display: flex;
    transition: 0.8s;
    flex-direction: column;
    justify-content: space-between;
    background: rgba(10, 10, 10, 0.65);
    box-shadow: 0px 8px 32px rgb(2, 4, 24);
    border-right: 2px solid rgba(255, 255, 255, 0.09);
  }
  .openSidebar {
    width: 300px;
  }
  .sidebar nav li {
    height: 15%;
    width: 100%;
    padding-left: 35px;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}
@media (min-width: 1050px) and (max-width: 767px) {
  .sidebar nav li {
    font-size: calc(10px + 10 *((100vw - 320px) / 1920));
  }
}
@media (min-width: 1050px) and (min-width: 767px) {
  .sidebar nav li {
    font-size: calc(10px + 17 *(100vw / 1920));
  }
}
@media (min-width: 1050px) {
  .sidebar .logo img {
    padding: 5px;
    width: 180px;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
@media (min-width: 1050px) {
  .container-for-clock {
    width: 90px;
    height: 90px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;
  }
}
@media (min-width: 1050px) {
  .container-for-clock-open {
    transition: 1s;
    width: 180px;
    height: 180px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (min-width: 1050px) {
  .openTitle {
    margin-top: 25px;
    color: snow;
    pointer-events: none;
    text-align: center;
    transition: 0.5s;
    transition-delay: 0.6s;
    opacity: 1;
  }
}
@media (min-width: 1050px) and (max-width: 767px) {
  .openTitle {
    font-size: calc(10px + 10 *((100vw - 320px) / 1920));
  }
}
@media (min-width: 1050px) and (min-width: 767px) {
  .openTitle {
    font-size: calc(10px + 17 *(100vw / 1920));
  }
}
@media (min-width: 1050px) {
  .sidebar nav li {
    height: 15%;
    width: 100%;
    padding-left: 35px;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}
@media (min-width: 1050px) and (max-width: 767px) {
  .sidebar nav li {
    font-size: calc(8px + 8 *((100vw - 320px) / 1920));
  }
}
@media (min-width: 1050px) and (min-width: 767px) {
  .sidebar nav li {
    font-size: calc(8px + 13.6 *(100vw / 1920));
  }
}
.BigButton {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(0%, -50%);
  width: 25px;
  height: 10%;
  background-color: rgba(10, 10, 10, 0.65);
  border-radius: 0px 15px 15px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  transition: 0.3s;
}

.BigButton:hover {
  color: purple;
}

.closeSpan {
  transition: 0.5s;
}

.openSpan {
  transform: rotateY(180deg);
  transition: 0.5s;
}

.sidebar .logo {
  width: 100%;
  height: 40%;
  padding: 40px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar .logo .Title {
  margin-top: 25px;
  color: snow;
  font-size: 16px;
  pointer-events: none;
  text-align: center;
  opacity: 0;
  transition: 0.3s;
}

.sidebar nav {
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.sidebar .nav-title {
  height: 30px;
  padding-left: 10px;
  text-align: center;
}
@media (max-width: 767px) {
  .sidebar .nav-title {
    font-size: calc(4px + 4 *((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .sidebar .nav-title {
    font-size: calc(4px + 6.8 *(100vw / 1920));
  }
}

.sidebar nav ul {
  padding: 0 0 10% 0;
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.sidebar nav li .link {
  color: transparent;
  display: none;
}

.sidebar nav li .openlink {
  display: flex;
  color: transparent;
  -webkit-animation: openlinks;
          animation: openlinks;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.active {
  background: rgba(89, 15, 91, 0.4);
}

.sidebar nav li:hover {
  background-color: rgba(128, 128, 128, 0.1);
  letter-spacing: 5px;
}

@-webkit-keyframes openlinks {
  0% {
    color: transparent;
  }
  100% {
    color: snow;
  }
}

@keyframes openlinks {
  0% {
    color: transparent;
  }
  100% {
    color: snow;
  }
}