@import "nullstyle.scss";
@import "sidebar.scss";
@import url(https://fonts.googleapis.com/css?family=Silkscreen:regular,700);


$maxWidth: 1920;
@mixin adaptiv-font($pcSize, $mobSize){
  $addSize: $pcSize - $mobSize;
  $addMobSize: $addSize + $addSize * 0.7;
  
  @media (max-width: 767px){
    font-size: calc(#{$mobSize + px} + #{$addSize} *((100vw - 320px) / #{$maxWidth}));
  }
  @media (min-width: 767px){
    font-size: calc(#{$mobSize + px} + #{$addMobSize} *(100vw / #{$maxWidth}));
  }
}
@mixin adaptiv-font2($pcSize, $mobSize){
  $addSize: $pcSize - $mobSize;
  $addMobSize: $addSize;
  

  @media (min-width: 300px){
    font-size: calc(#{$mobSize + px} + #{$addMobSize} *(100vw / #{$maxWidth}));
  }
}
a {
  color: inherit; 
  text-decoration: inherit; 
}

.wrapper {
  min-height: 100vh;
  width: 100vw;
  background: #222;
  background: url(../img/back.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: snow;
  letter-spacing: 2px;
  overflow: hidden;
  display: flex;
  // display: grid;
  // grid-template-columns: 300px 1fr;
  font-family: 'Silkscreen';
  font-size: 20px;
}





.content {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  color: white;
}



#page-two{

  .grid-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(10, 10, 10, 0.65);
    width: 80%;
    height: 80%;
    display: grid;
    transition: .5s;
    
    grid-template: 1fr 1fr / 1fr 1fr;

  }


  
.box {
  transition: .3s;
  background-color: rgba($color: black, $alpha: 0.7);
  border: 2px solid rgba(255, 255, 255, 0.09);
  display: flex;
  flex-direction: column;
  color: transparent;
  position: relative;

  &__image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    transition: .3s;
  }
  &__image:hover{
    filter: blur(3px);
    opacity: 0.75;
  }
  &__bottom{
    position: relative;
    z-index: 6;
    width: 100%;
    height: 20%;
    overflow: hidden;
    transition: .66s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
  }
  &__top{
    position: relative;
    z-index: 6;
    height: 80%;
    width: 100%;
  }
  &__description {
    @include adaptiv-font(16, 8);
    padding: 5% 5%;
  }
  .conteiner-bottom {
    width: 100%;
    height: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 5px;
    transition: .66s;
    background-color: rgba($color: #222, $alpha: 0.5);
    color: white;
    overflow: hidden;
  }
  .conteiner-top {
    cursor: pointer;

    width: 100%;
    height: 0px;
    transition: .66s;
    padding: 0px 5px;
    color: white;
    background-color: rgba($color: #222, $alpha: 0.5);

    overflow: hidden;
  }
  &__Title {
    @include adaptiv-font(14, 8);

    
  }

  &__stacks {
   
    @include adaptiv-font(12, 3);


  }
}


.scroll-block{
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  &__page{
    cursor: pointer;
    transition: .3s;
    opacity: 0.8;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    background-color: white;
    box-shadow: 0px 0px 5px 4px rgba(25, 140, 229, 0.2);
  }
  &__page:hover{
    width: 20px;
    height: 20px;
    border-radius: 3px;
    opacity: 1;
    background-color: white;
    box-shadow: 0px 0px 5px 4px rgba(25, 140, 229, 0.2);
  }
}


#idone{
  opacity: 0.6;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#idtwo{
  opacity: 0.6;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
#idthree{
  opacity: 0.6;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
#idfour{
  opacity: 0.6;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


}
  






#firstgrid{z-index: 3;}
#secondgrid{z-index: 3;}
#thirdgrid{z-index: 3;}


.page{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  transition: 1s;
}
#page-one{display: block; animation: anim3 0.3s linear 1s 1  forwards; opacity: 0;}
#page-two{display: none; animation: anim3 0.3s linear 0.3s 1  forwards; opacity: 0;}
#page-three{display: none; animation: anim3 0.3s linear 0.3s 1  forwards; opacity: 0;}
#page-four{display: none; animation: anim3 0.3s linear 0.3s 1  forwards; opacity: 0;}

@keyframes anim3{
  0%{opacity: 0;}
  100%{opacity: 1;}
}

.page-three{
&__main-block {
  backdrop-filter: blur(2px);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 90%;
  height: 90%;
  background: rgba(10, 10, 10, 0.65);
  border: 2px solid rgba(255, 255, 255, 0.09);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}



&__link {
    @include adaptiv-font2(20, 12);
  transform: translate(-50%, -50%);
  padding: 0px 25px;
  height: 70px;
  opacity: 0;
  transition: 1.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: rgba(10, 10, 10, 0.65);
  border: 2px solid rgba(255, 255, 255, 0.09);
}
&__link:hover {
   backdrop-filter: blur(3px);
  color: rgb(101, 101, 244);
}
&__link img {
   width: 100%;
   height: 100%;
   object-fit: contain;
   opacity: 0.7;
}


  &__link:nth-child(2){width: 190px;  height: 190px;  padding: 10px;}
  &__link:nth-child(5){width: 190px;  height: 190px;  padding: 10px;}

@media(max-width:1050px){
  &__link:nth-child(2){width: 170px;  height: 170px;  padding: 10px;}
  &__link:nth-child(5){width: 170px;  height: 170px;  padding: 10px;}
}
@media(max-width:1000px){
  &__link:nth-child(2){width: 150px;  height: 150px;  padding: 10px;}
  &__link:nth-child(5){width: 150px;  height: 150px;  padding: 10px;}
}
&__link:nth-child(1){top: 10%; left: 50%;}
&__link:nth-child(2){top: 33%; left: 20%;}
&__link:nth-child(3){top: 66%; left: 20%;}
&__link:nth-child(4){top: 80%; left: 50%;}
&__link:nth-child(5){top: 66%; left: 80%;}
&__link:nth-child(6){top: 33%; left: 80%;}
}
.page-one{
&__main-block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 90%;
  height: 90%;
  background: rgba(10, 10, 10, 0.65);
  border: 2px solid rgba(255, 255, 255, 0.09);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  h1{ @include adaptiv-font(30, 10); padding: 0px 10%; margin-top: 100px;}
  p{margin-top: 50px; @include adaptiv-font(20, 10);padding: 0px 5%;}
  backdrop-filter: blur(2px);
  padding: 15px;
}


&__link {
    @include adaptiv-font2(20, 12);
  transform: translate(-50%, -50%);
  padding: 0px 25px;
  height: 70px;
  opacity: 0;
  transition: 1.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: rgba(10, 10, 10, 0.65);
  border: 2px solid rgba(255, 255, 255, 0.09);
}
&__link:hover {
   backdrop-filter: blur(3px);
  color: rgb(101, 101, 244);
}
&__link img {
   width: 100%;
   height: 100%;
   object-fit: contain;
   opacity: 0.7;
}


  &__link:nth-child(2){width: 190px;  height: 190px;  padding: 10px;}
  &__link:nth-child(5){width: 190px;  height: 190px;  padding: 10px;}

@media(max-width:1050px){
  &__link:nth-child(2){width: 170px;  height: 170px;  padding: 10px;}
  &__link:nth-child(5){width: 170px;  height: 170px;  padding: 10px;}
}
@media(max-width:1000px){
  &__link:nth-child(2){width: 150px;  height: 150px;  padding: 10px;}
  &__link:nth-child(5){width: 150px;  height: 150px;  padding: 10px;}
}
&__link:nth-child(1){top: 10%; left: 50%;}
&__link:nth-child(2){top: 33%; left: 20%;}
&__link:nth-child(3){top: 66%; left: 20%;}
&__link:nth-child(4){top: 80%; left: 50%;}
&__link:nth-child(5){top: 66%; left: 80%;}
&__link:nth-child(6){top: 33%; left: 80%;}
}

.me{
  cursor: pointer;
  font-size: 30px;
  text-align: center;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  border: 4px dashed rgba(255, 255, 255, 0.39);
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .6s;
}
.me:hover{
  backdrop-filter: blur(3px);

}




.hexagon {
  cursor: pointer;
  width: 90px;
  height: 50px;
  position: relative;
  z-index: 3;
  background: rgba(10, 10, 10, 0.65);
  border-right: 2px solid rgba(255, 255, 255, 0.09);
  border-left: 2px solid rgba(255, 255, 255, 0.09);

  h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    text-align: center;
  }
}
@media (min-width: 650px){
  .hexagon {width: 90px;height: 51px;}
  h2{    @include adaptiv-font(16, 6);  }
}
@media (min-width: 950px){
  .hexagon {width: 160px;height: 91px;}
  h2{    @include adaptiv-font(22, 6);  }
}
@media (min-width: 1150px){
  .hexagon {width: 200px;height: 114px;}
  h2{    @include adaptiv-font(24, 18);  }

}
.hexagon:before, 
.hexagon:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(10, 10, 10, 0.65);
  border-right: 2px solid rgba(255, 255, 255, 0.09);
  border-left: 2px solid rgba(255, 255, 255, 0.09);
}

.hexagon:before {
  transform: rotate(60deg);
}

.hexagon:after {
  transform: rotate(-60deg);
}
.hexagon:hover{
}

.page-four {
  &__main-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
    height: 90%;
    background: rgba(10, 10, 10, 0.65);
    border: 2px solid rgba(255, 255, 255, 0.09);
    display: flex;
    backdrop-filter: blur(2px);
    align-items: center;
    justify-content: center;
  }

  &__stacks{
    width: 130px;
    height: 130px;
    overflow: hidden;
    position: absolute;
    transform: translate(-50%,-50%);
    transition: 1.5s;
    opacity: 0;
  }
  &__stacks img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  } 
&__stacks:nth-child(1){top: 15%; left: 50%;}
&__stacks:nth-child(2){top: 33%; left: 20%;}
&__stacks:nth-child(3){top: 66%; left: 20%;}
&__stacks:nth-child(4){top: 85%; left: 50%;}
&__stacks:nth-child(5){top: 66%; left: 80%;}
&__stacks:nth-child(6){top: 33%; left: 80%;}
}